.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #d7cdff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 96px;
  top: 42px;
  width: 201px;
  height: 62px;
}
.let-s-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 251px;
  top: 308px;
}
.today-let-s-create-a-sample-website-design-in-figma-and-export-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 112px;
  top: 413px;
  width: 1215px;
  height: 105px;
}
.rectangle-1 {
  background: #a8ff35;
  border-radius: 10px;
  width: 180px;
  height: 57px;
  position: absolute;
  left: 630px;
  top: 583px;
}
.get-started {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 651px;
  top: 597px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 101px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 953px;
  top: 67px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
